.nav {
	display: flex;
	position: fixed;
	top: 0;
	justify-content: space-between;
	width: 100%;
	padding: 20px;
	height: 28px;
	z-index: 1;
	transition-timing-function: ease-in;
	transition: all 0.6s;
}
.nav__black {
	background-color: #111;
}
.nav__logo {
	position: fixed;
	left: 20px;
	object-fit: contain;
	width: 80px;
	padding-top: 5px;
}
.nav__avatar {
	position: fixed;
	right: 20px;
	width: 30px;
	object-fit: contain;
}
